<p>Hello MassBuilds User,</p>

<p>Thank you for signing up for MassBuilds! You can now login on our <a href="http://www.massbuilds.com">home page</a>.</p>

<p>Sincerely,</p>

<p>The MassBuilds Team</p>
