<p>Hello MassBuilds User,</p>

<p>To login to MassBuilds, visit the following link: <a href="<%= @login_url %>"><%= @login_url %></a></p>

Username: <%= @user.email %><br>
Password: <%= @password %>

<p>Please feel free to reach out to our team with any questions or if you notice any issues!</p>
