<section class="route map-developments-create map-developments-development">
  {{development-form
    updateModel=(if hasPublishPermissions (action createDevelopment) (action createEdit))
    isLoading=isCreating
    loadingSpinnerText=loadingSpinnerText
    submitText=submitText
    model=model
    editing=editing
    updateEditing=(action updateEditing)
    developmentTypeEnabled=true
    developmentType=developmentType
    updateDevelopmentType=(action updateDevelopmentType)
    mode='create'
  }}
</section>
