<section class="route map-developments-development">

  <div class="development-content">
    <div class="column">
      <h1>{{model.name}}</h1>
    </div>

    <div class="column">
    </div>
  </div>

</section>
