<section class="route map-developments-development">

  {{#link-to 'map' class="close-link"}}
    <img src="/assets/images/chevrons-left.svg">
    Close
  {{/link-to}}

  <div class="development-content">
    <div class="column">
      <h1>{{model.name}}</h1>
    </div>

    <div class="column">
    </div>
  </div>

</section>
