<div class="subpanel-content">

  <div class="user-info">
    <div class="user-image">
    </div>

    <h3>{{currentUser.user.fullName}}</h3>
  </div>

  <ul class="user-actions">
  </ul>
  
</div>

<button class="logout-button" onclick={{action logout}}>
  Logout
</button>
