<div class="loading-wrapper {{if isLoading 'active'}}">
  <div class="loading-message">
    <span class="spinner"></span>
    {{message}}
  </div>

  <div class="loading-button">{{yield}}</div>
</div>
