<div class="cube">
  <div data-side="front"></div>
  <div data-side="back"></div>
  <div data-side="top"></div>
  <div data-side="bottom"></div>
  <div data-side="left"></div>
  <div data-side="right"></div>
</div>
