<article>
  <header>
    <h1>Welcome to MassBuilds!</h1>
    <button class="close" onclick={{action 'dismissWelcome'}}>x</button>
  </header>
  <p>
    Massbuilds is the Metropolitan Area Planning Council’s collaborative inventory of past, present and future real estate development projects. This tool provides governments, data analysts, urban planners, community advocates, and real estate developers with comprehensive data for thousands of projects across Massachusetts.
  </p>
  <div class="button-row">
    {{link-to 'Learn more' 'about'}}
    <button class="styled" onclick={{action 'dismissWelcome'}}>
      Continue to MassBuilds
    </button>
  </div>
</article>
