<article>
  <header>
    <h1>Welcome to MassBuilds</h1>
    <button class="close" onclick={{action 'dismissWelcome'}}>x</button>
  </header>
  <p>MassBuilds is a database with information on recent, current, and future developments in the Greater Boston region. The mapping feature on MassBuilds.com allows users to view developments spatially within the region. Both spatial (.shp) and tabular (.csv) versions of the development data are available for download on our site.</p>
  <p>MassBuilds does not merely track the existence of developments in the Greater Boston region, but has detailed information on these developments including but not limited to: project status, estimated year of completion, commercial square footage, number of housing units, number of parking spots, total stories and/or height, and a brief description for each development.</p>
  <div class="button-row">
    {{link-to 'Learn more' 'about'}}
    <button class="styled" onclick={{action 'dismissWelcome'}}>
      Continue to MassBuilds
    </button>
  </div>
</article>
