<section class="loading index">

  <div class="loading-text">
    <h1>MassBuilds</h1>

    <div class="loader">
      <span class="spinning-box"></span>
      Loading User Profile
    </div>
  </div>
  
</section>
