<section class="route info-page glossary">

  <header>
    <img src='/assets/images/logo.png'>

    {{link-to 'Back to MassBuilds' 'map'}}
  </header>

  <main>
    <h1>Glossary</h1>

    <ul class="terms-list">
      {{#each glossaryTerms as |term|}}
        {{glossary-list-item
          label=term.label
          definition=term.definition
        }}
      {{/each}}
    </ul>
  </main>

  <footer>
    <img src="/assets/images/mapc-logo.svg">
  </footer>

</section>
