<section class="route glossary">

  <main>
    <h1>Glossary</h1>

    <ul class="terms-list">

      <!-- term -->
      <li id="some-term">
        <label>Some Term</label>

        <article>
          <p>
            Elit mollitia quos repudiandae quo culpa aperiam ab Praesentium unde 
            nesciunt reprehenderit beatae repellat tempore? Tempora tempore nisi 
            voluptas consectetur perspiciatis ducimus Ad impedit ullam omnis maiores 
            officiis, non. Natus
          </p>

          <p>
            Elit mollitia quos repudiandae quo culpa aperiam ab Praesentium unde 
            nesciunt reprehenderit beatae repellat tempore? Tempora tempore nisi 
            voluptas consectetur perspiciatis ducimus Ad impedit ullam omnis maiores 
            officiis, non. Natus
          </p>
        </article>
      </li>
      <!-- /term -->

      <li id="some-other-term">
        <label>Some Other Term</label>

        <article>
          <p>
            Elit mollitia quos repudiandae quo culpa aperiam ab Praesentium unde 
            nesciunt reprehenderit beatae repellat tempore? Tempora tempore nisi 
            voluptas consectetur perspiciatis ducimus Ad impedit ullam omnis maiores 
            officiis, non. Natus
          </p>
        </article>
      </li>

      <li id="small-term">
        <label>Small Term</label>

        <article>
          <p>
            Elit mollitia quos repudiandae quo culpa aperiam ab.
          </p>
        </article>
      </li>

    </ul>
  </main>

  <footer>
    <img src="/assets/images/mapc-logo.svg">
  </footer>

</section>
