.click-catcher {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &.active {
    display: block;
    .definition {
      display: block;
    }
  }
  .definition {
    z-index: 9000;
    border: 1px solid $color_brand-primary;
    color: black;
    font-size: 14px;

    display: none;
    background-color: $color_bg-light;
    position: absolute;
    width: 24rem;
    .header {
      padding: 0.5rem 0.5rem;
      background-color: $color_brand-primary;
      color: $color_bg-light;
      line-height: 1rem;
    }
    .scroll-wrapper {
      overflow-y: scroll;
      max-height: 20rem;
    }
    .paragraphs {
      padding: 0.5rem 0.5rem;
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: ' ';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
    }
    &.top-left::before {
      border-right: 10px solid $color_brand-primary;
      left: -10px;
      top: calc(0.25rem + 1px);
    }
    &.bottom-left::before {
      border-right: 10px solid $color_brand-primary;
      left: -10px;
      top: calc(100% - 20px - 0.25rem - 1px);
    }
    &.bottom-right::before {
      border-left: 10px solid $color_brand-primary;
      left: 100%;
      top: calc(100% - 20px - 0.25rem - 1px);
    }
    &.top-right::before {
      border-left: 10px solid $color_brand-primary;
      left: 100%;
      top: calc(0.25rem + 1px);
    }
  }
}
