.defined-term {
  display: inline-block;
  .label::after {
    content: ' ';
    width: 100%;
    border-bottom: 1px dashed #888;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .label:hover {
    cursor: pointer;
    &::after {
      border-color: #333;
    }
  }
  .definition {
    z-index: 9000;
    border: 1px solid $color_brand-primary;
    color: black;
    font-size: 14px;

    display: none;
    background-color: white;
    position: absolute;
    width: 24rem;
    .header {
      padding: 0.5rem 0.5rem;
      background-color: $color_brand-primary;
      color: white;
      line-height: 1rem;
    }
    .paragraphs {
      padding: 0.5rem 0.5rem;
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: ' ';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
    }
    &.top-left {
      left: calc(100% + 12px);
      top: calc(100% - 1rem);
      &::before {
        border-right: 10px solid $color_brand-primary;
        left: -10px;
        top: calc(0.25rem + 1px);
      }
    }
    &.top-right {
      left: calc(-24rem - 12px);
      top: calc(100% - 1rem);
      &::before {
        border-left: 10px solid $color_brand-primary;
        left: 100%;
        top: calc(0.25rem + 1px);
      }
    }
  }
  &.active {
    .label::after {
      border-bottom: 1px solid $color_brand-primary;
    }
    .definition {
      display: block;
    }
  }
}
