.component.filter-panel {
  $dot-size: 7px;
  font-size: 14px;
  .filter-panel-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 20px 20px;
    align-items: center;
    h1 {
      margin: 0;

      font-size: 20px;

      cursor: default;
    }
    button {
      border: none;
      background: transparent;
    }
  }

  .filter-panel-content {
    display: flex;
    border-top: 1px solid $color_bg-medium;
  }

  .filter-group-list {
    margin: 0;
    padding: 0;

    li {
      padding: 8px;
      padding-left: 25px;

      font-size: 14px;

      border: 0 solid $color_bg-medium;
      border-right-width: 1px;
      border-bottom-width: 1px;

      cursor: pointer;

      &:hover {
        color: $color_brand-primary--active;
      }

      &:last-of-type { border-bottom-width: 0; }

      &.viewing {
        border-right: 1px solid transparent;
        border-left: 2px solid $color_brand-primary;
        padding-left: 23px;
        &.active:before {
          left: $dot-size - 2px;
        }
      }

      &.active {
        &:before {
          @extend ._vertical-center;


          content: '';
          left: $dot-size;
          display: block;

          width: $dot-size;
          height: $dot-size;

          background: $color_brand-primary;
          border-radius: 50%;
        }
      }
    }
  }

  .filters {
    min-width: 66.66%;
    flex: 1;
  }

}
