.component.goto-bar {

  $width: 354px;

  .search-input-wrapper.searching > .search-input {
    border-radius: 5px 5px 0 0;
  }

  input.search-input {
    border-radius: 5px;
  }

  li.loading {
    font-size: 10px;
    cursor: default;
  }


}
