.component.loading-spinner {
  @extend ._clear;

  display: inline-block;

  margin-left: 10px;

  .loading-message {
    display: none; 

    padding: 5px 12px;

    background: darken($color_bg-light, 3);
    border: 1px solid $color_bg-medium;
    border-radius: 5px;

    .spinner {
      @extend ._spinner;  

      display: inline-block;
      z-index: 5;

      height: 12px;
      width: 12px;
      margin-right: 10px;

      border: 1px solid $color_brand-primary;
    }
  }

  .loading-wrapper.active {
    .loading-message { display: block; }
    .loading-button { display: none; }
  }

}
