.component.subpanel.metric-filter {
  padding: 15px;

  .subgroup-wrapper {
    height: 70vh;
    padding-bottom: 40px;

    overflow: scroll;
  }

  .subgroup {
    & + .subgroup { margin-top: 25px; }
    font-size: $filter_font_size;

    h4 {
      margin: 0 0 15px;

      color: $color_font-medium;
    }

    .metric {
      & + .metric { margin-top: 5px; }

      label {
        display: inline-block;

        width: 56%;
      }

      input {

        background: none;
        border: 0;
        border-bottom: 1px solid $color_bg-medium;
        outline: none;

        &:active, &:focus {
          border-color: $color_brand-primary--active;
        }
      }

      select {
        max-width: 40%;
        background: none;
        border: 1px solid $color_bg-medium;
        outline: none;
      }

      &.number {
        input {
          width: 16%;

          text-align: right;
        }

        .metric-unit {
          position: absolute;
          top: 5px;
          right: 0px;
        }
      }
    }
  }
}
