.component.search-bar {

  .search-icon {
    @extend ._vertical-center;
    top: 48%;
    left: 10px;
    z-index: 1;

    width: 15px;

    opacity: .5;
  }

  input.search-input {
    min-width: 320px;
    padding: 8px 12px; 
    padding-left: 32px;

    color: $color_font-medium;
    font-size: 14px;

    border: 1px solid $color_brand-primary;
    border-radius: 0 5px 5px 0;

    outline: none;
    transition: $transition_border;

    &:focus, &:active {
      border-color: $color_brand-primary--active; 

      transition: $transition_border;
    }
  }

}
