.component.search-bar {

  position: absolute;
  top: 5vh;
  left: 6%;
  z-index: 100;

  input.search-input {
    min-width: 275px;
    padding: 8px 12px; 

    color: $color_font-medium;

    border: 1px solid $color_bg-medium;
    border-radius: 5px;

    outline: none;
  }

}
