.component.verified-mark {
  $size: 24px;

  width: $size;
  height: $size;
  
  background: $color_brand-primary--active;
  border-radius: 50%;

  img  {
    top: -($size / 2);

    width: $size / 2;

    cursor: help;
  }

  p {
    position: absolute;
    left: -4px;
    right: 0;
    bottom: -16px;

    padding: 0;
    margin: 0 auto;

    color: $color_brand-primary;
    font-size: 9px;
  }

}
