@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes tumble {
  0% { transform: rotateX(0) rotateY(0); }
  100% { transform: rotateX(-360deg) rotateY(360deg); }
}
