@import 'normalize'; // Using the Normalize.css library to help with reset

* { 
  position: relative;
  box-sizing: border-box;
}

a {
  color: $color_font-dark;
  text-decoration: none;
  outline: none;
}

img { outline: none; }

ul {
  list-style: none;
  padding: 0;
}
