$color_brand-primary: #3c5875;

$color_bg-light: #FFFFFF;
$color_bg-medium: #CCCCCC;
$color_bg-dark: #091F2F;

$color_bg-light--active: mix(black, $color_bg-light, 5);

$color_font-light: #FFFFFF;
$color_font-medium: #777;
$color_font-dark: #091F2F;

$font_family-primary: 'Nunito', Helvetica, sans-serif;
