$color_bg-light: #FFFFFF;
$color_bg-medium: #F2F2F2;
$color_bg-dark: #091F2F;

$color_font-light: #FFFFFF;
$color_font-medium: #95989A;
$color_font-dark: #091F2F;

$font_family-primary: 'Montserrat', sans-serif;
