.route.map-developments-development {
  // width: 900px;
  padding: 10px 20px;

  font-size: 14px;

  .development-panel-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 20px 0;
    align-items: center;
    h1 {
      margin: 0;
    }
  }

  .development-content {
    .overflow-scroll {
      height: calc(100vh - 180px);
    }
    .actions {
      display: flex;
      justify-content: space-between;

      &__input {
        margin-bottom: 0.5rem;
        width: 250px;
      }
    }
    .with-actions .overflow-scroll {
      height: calc(100% - 42px);
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 6px;

    font-size: 20px;

    cursor: pointer;
  }

  h2 {
    top: -3px;

    margin: 0;

    font-size: 14px;

    &:not(.project-url) {
      img:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    img {
      top: 3px;

      height: 20px;
      margin-right: 5px;
      padding: 3px 10px;
      padding-left: 0;

      border-right: 1px solid $color_bg-medium;
    }

    a {
      color: $color_brand-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h4 {
    display: flex;

    width: 100%;
    margin: 0 auto 10px;

    color: $color_font-medium;
    font-size: 14px;
    text-align: center;

    &:after,
    &:before {
      content: '';
      position: relative;
      top: 10px;
      flex: 1 1;
      display: block;

      width: 100%;
      height: 1px;
      background: $color_bg-medium;
    }
    &:after {
      margin-left: 15px;
    }
    &:before {
      margin-right: 15px;
    }
  }

  .development-header {
    flex: 1 1 10%;
  }

  .detail-group {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .metric-groups {
    max-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  article {
    & + article {
      margin-top: 30px;
    }

    text-align: center;

    .row {
      display: flex;
      .column {
        flex: 1;
        text-align: left;
      }
      .column:not(:last-child) {
        padding-right: 20px;
      }
      @include media('medium') {
        display: block;
        .column:not(:last-child) {
          padding-right: 0;
        }
      }
    }

    .field {
      &.long-form {
        label {
          display: block;
        }
        p {
          margin: 5px 0 5px 15px;
        }
      }
      &:not(.long-form) {
        display: flex;
      }

      text-align: left;

      label {
        flex: 1 0 40%;

        small {
          color: $color_font-medium;
          font-size: 0.7em;
          opacity: 0.6;
        }
      }
    }
  }

  span.unknown {
    color: $color_font-medium;
  }

  .attributes-wrapper {
    padding: 10px 0;
  }

  .attributes {
    margin-bottom: 0;
    text-align: left;

    & + .attributes {
      margin-top: 0;
      padding-top: 5px;
    }

    label {
      display: inline-block;

      margin-right: 15px;
    }
  }

  .table-wrapper {
    margin: 20px 0 30px 0;
    border: 1px solid $color_bg-light--active;
    .table-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color_bg-light--active;
      & > * {
        padding: 6px 8px;
      }
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .actions {
    margin-top: 15px;
    text-align: right;

    button,
    .loading-spinner {
      margin-left: 0;
      text-align: left;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
