button.styled {
  padding: 5px 9px;

  color: $color_font-light;

  background: $color_brand-primary--active;
  border: 0;
  border-radius: 5px;
  transition: background 0.15s;

  &:hover {
    background: $color_brand-primary;
    transition: background 0.15s;
  }

  &.negative {
    background: $color_state-negative;

    &:hover {
      background: $color_state-negative--dark;
    }
  }
}
