.table-panel {

  width: 700px;
  padding: 0 5px;

  font-size: 14px;

  .panel-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 20px 0;
    h1 {
      margin: 0;

      font-size: 20px;
      font-weight: 600;
    }
  }

  .panel-description p {
    margin: 0;
  }

  .no-records {
    margin: 100px auto 0;

    color: $color_font-medium;
    font-size: 14px;
    text-align: center;

    a {
      color: $color_brand-primary--active;

      &:hover { color: $color_brand-primary; }
    }
  }

  ul.item-list {
    margin-top: 30px;
    padding-top: 30px;

    .list-body {
      max-height: 60vh;
      padding-bottom: 20px;

      overflow-y: scroll;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;

      width: 100%;

      box-shadow: 0 0 25px 20px $color_bg-light;
    }

    & > li, .list-body > li {
      display: flex;

      padding: 5px;

      background: darken($color_bg-light, 2);

      &.list-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        width: 100%;

        color: $color_font-medium;
        font-size: 14px;

        background: $color_bg-light;
        border-bottom: 1px solid $color_bg-medium;
      }

      &:nth-of-type(2n) { background: darken($color_bg-light, 4); }

      a:hover { color: $color_brand-primary--active; }
    }
  }


}
