.tag {
  display: inline-block;

  padding: 6px 14px;

  color: $color_font-light;
  font-size: 14px;

  background: $color_bg-medium;
  border-radius: 5px;

  &.active {
    background: $color_brand-secondary; 
  }
}
